parameters:
  level: 3
  reportUnmatchedIgnoredErrors: false
  inferPrivatePropertyTypeFromConstructor: false
  checkMissingVarTagTypehint: false
  paths:
    - classes
    - config
    - dev
    - includes
    - lib
    - scripts
    - templates
